@font-face {
  font-family: "nunito";
  src: url(./assets/font/Nunito-VariableFont_wght.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0b6614;
  --secondary: #ffdab0;
  --gray: #f1f1f1;
  --orange-bg: #fff1e7;
  --background: #fbfbfb;
  --yellow-bg: #fffaf4;
  --vet-bg: #f4f4ff;
  --shadow: 0px 17.7729px 54.686px rgba(27, 25, 86, 0.06);
  --filter: invert(21%) sepia(43%) saturate(3218%) hue-rotate(111deg)
    brightness(96%) contrast(91%);
}

body {
  font-family: "nunito" !important;
}

.head__one {
  font-family: "nunito";
  font-size: clamp(1.8rem, 4.5vw, 2.813rem);
  font-variation-settings: "wght" 900;
  line-height: 1.2;
}
.head__two {
  font-family: "nunito";
  font-size: clamp(1.4rem, 2.5vw, 2.513rem);
  font-variation-settings: "wght" 900;
  line-height: 1.2;
}

.paragraph {
  font-family: "nunito";
  font-size: clamp(0.85rem, 2.5vw, 1.05rem);
  font-variation-settings: "wght" 300;
  line-height: 1.5;
}

.green__btn {
  height: clamp(50px, 4.5vw, 55px);
  background: var(--primary);
  background-size: cover;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  color: white;
  border-radius: 8px;
  font-weight: bold;
  background-position: left;
  transition: all 300ms ease-in-out;
}
.secondary__btn {
  height: clamp(50px, 4.5vw, 55px);
  background: white;
  background-size: cover;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  color: rgb(48, 48, 48);
  border: 1px solid gray;
  border-radius: 8px;
  font-weight: bold;
  background-position: left;
  transition: all 300ms ease-in-out;
}

.tertiary__btn {
  height: clamp(50px, 4.5vw, 55px);
  background: var(--secondary);
  background-size: cover;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  color: rgb(48, 48, 48);
  border: 1px solid var(--secondary);
  border-radius: 8px;
  font-weight: bold;
  background-position: left;
  transition: all 300ms ease-in-out;
}

.primary__btn {
  height: clamp(50px, 4.5vw, 55px);
  background: url("./assets/bg/button-bg.png");
  background-size: cover;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  color: white;
  border-radius: 50px;
  font-weight: bold;
  background-position: left;
  transition: all 300ms ease-in-out;
}

.primary__btn:hover {
  background-size: 15rem;
  background-position: right;
}

.card {
  background: #ffffff;
  box-shadow: 0px 17.7729px 54.686px rgba(27, 25, 86, 0.06);
  border-radius: 21.8744px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 20px;
  height: 160px;
}

.accountCard {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  /* place-self: center; */
  place-content: center;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 17.7729px 54.686px rgba(27, 25, 86, 0.06);
  border-radius: 21.8744px;
  height: 130px;
}

.small__btn {
  width: 142px;
  height: clamp(28px, 4.5vw, 32px);
  font-size: clamp(0.7rem, 2.5vw, 0.75rem);
  background: #f1f1f1;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin-left: auto;
}

.heading {
  color: #1d2432;
  font-weight: bold;
}

.card__text {
  color: #555555;
  font-size: clamp(0.72rem, 2.5vw, 0.85rem);
}

.availbility {
  padding: 5px 15px;
  background: white;
  position: absolute;
  top: 10%;
  right: 5%;
  border-radius: 30px;
}

.available {
  height: 15px;
  width: 15px;
  border: 1px solid rgb(2, 183, 2);
  border-radius: 50%;
  gap: 20px;
  position: relative;
}

.available::before {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(2, 183, 2);
  border-radius: 50%;
}

.unavailable {
  height: 15px;
  width: 15px;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 50%;
  gap: 20px;
  position: relative;
}

.unavailable::before {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 0, 0);
  border-radius: 50%;
}

.vetUser {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.9)
    ),
    url(./assets/bg/vet-image.png);
  background-size: cover;
  position: relative;
  border-radius: 12px 12px 0 0;
}

.verCard {
  height: 350px;
  width: 272px;
  box-shadow: 0px 17.7729px 54.686px rgba(27, 25, 86, 0.06);
  border-radius: 12px;
  background: white;
  position: relative;
}

.login {
  background-image: url("./assets/bg/login-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.p-inputtext,
.p-password {
  width: 100%;
  height: 66px;
}

.p-input-icon-left > i,
.p-input-icon-right > i,
.p-input-icon-left > svg,
.p-input-icon-right > svg,
.p-input-icon-left > .p-input-prefix,
.p-input-icon-right > .p-input-suffix {
  position: absolute;
  top: 50%;
  margin-top: 0rem;
  transform: translateY(-30%);
}

.p-float-label input:focus ~ label,
.p-float-label input:autofill ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label,
.p-float-label .p-tooltip-target-wrapper ~ label {
  top: 0.95rem !important;
  font-size: 13px !important;
}

.p-inputtext:enabled:focus {
  box-shadow: none !important;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover,
.p-checkbox .p-checkbox-box.p-highlight {
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  box-shadow: none !important;
  border-color: var(--primary) !important;
}

.greenOverlay {
  filter: var(--filter);
}

.checkbox-group {
  height: 68px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 6px;
}
